{% extends "base.html" %}
{% block content %}

    <style>

        <!--body{-->

        <!--background: url(/static/background.jpg) no-repeat center center fixed;-->
        <!--background-size: 100%;-->

        <!--}-->

        #bg {
            height:100%;
            width:100%;
            left:0px;
            top:0px;
            position:absolute;
            z-index:-1;
        }

        #checkIn{
            background-color: #1b998b;
            color: white;
            padding: 16px;
            font-size: 150px;
            border: 1px solid white;
            text-align: center;
            border-radius: 75px;
            padding: 40px 10px;
            align: center;
            margin-top: 100px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
        }

        #checkIn:hover{

            background-color: #138275;
            box-shadow: 4px 8px 16px rgba(0, 0, 0, .5);

        }

    </style>
    <img id="bg" src="{{url_for('static',filename='background.jpg')}}">
    <button id = "checkIn">Check In</buttonid>


{% endblock %}